* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    background: rgb(43, 43, 43);
    color: white;
}

.main {
    margin: auto;
    width: 70%;
    max-width: 800px;
    height: 92vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.text-div {
    margin-bottom: 50px;
    line-height: 1.2;
}

.prompt {
    width: 100%;
    height: 50px;
    text-align: center;
    outline: none;
    color: grey;
    border:none;
    border-bottom: 2px solid grey;
    font-size: 25px;
    background: none;
    caret-color: transparent;
}

.text-wrong {
    background: rgba(255, 0, 0, 0.6);
}

.text-written {
    color: greenyellow;
}

.game-menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-icon {
    margin: 15px;
    border: none;
    color: grey;
    font-size: 20px;
    background: none;
}

.menu-button {
    cursor: pointer;
}

.menu-button:hover {
    color: white;
}

.menu-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

.main-menu {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-menu nav {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-menu a {
    color: gray;
    text-decoration: none;
    margin: 10px 0;
    font-size: 25px;
}

.main-menu a:hover {
    color: white;
    text-decoration: underline;
}

.bottom-menu {
    flex: 0 1 auto;
    width: 100%;
    display: flex;
    justify-content: end;
}

.counter-div {
    color: gray;
    width: 100%;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
}

.counter-div div {
    margin: 0px 20px;
}

.lang-select {
    outline: none;
    border:none;
    background: none;
    color: grey;
    font-size: 16px;
}

.lang-select option {
    background-color: rgb(43, 43, 43);
    color: grey;
}