{% extends "base.html" %}
{% load static %}
{% block title %}Solo{% endblock title %}

{% block content %}
<header class="game-menu">
  <div class="left">
    <button onclick="history.back()" class="menu-button menu-icon"><i class="fa-solid fa-arrow-left"></i></button>
  </div>
  <div class="right">
    <select name="lang_select" id="lang_select" class="lang-select">
      <option value="english">English</option>
      <option value="spanish">Español</option>
    </select>
    <button id="reset_text" class="menu-icon menu-button"><i class="fa-solid fa-arrows-rotate"></i></button>
  </div>
</header>
<section class="main">
  <div class="counter-div">
    <div>
      <span id="minutes">00</span>:<span id="seconds">00</span>
    </div>
    <div>
      <span id="wpm">0.0</span> wpm
    </div>
    <div><span id="cpm">0.0</span> cpm</div>
  </div>
  <div class="text-div">
    <span class="text-written"></span><span class="text-wrong"></span
    ><span id="text-to-write" class="text-to-write"></span>
  </div>
  <input
    type="text"
    name="prompt"
    id="prompt"
    class="prompt"
    onblur="this.focus()"
    autofocus
    autocomplete="off"
  />
</section>
{% endblock content %} {% block js %}
<script src="{% static 'js/easytimer.min.js' %}"></script>
<script src="{% static 'js/single_racer.js' %}"></script>
{% endblock js %}
